body{
    background-image:url(bg.png);
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 90px;
    margin-bottom: 20px;
}

div.image{
    text-align: center;
}
h1{
    font-size: 30 px ;
    text-align: center; 
}

p{   
    background-color: white;
    padding: 30px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    font-style: italic;
}
 
span.maitre{
    font-size: 25px;
}