body{
    background-color: gray;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 60px;
    margin-bottom: 20px;
}
header.entete{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
}

h1{
   font-size: 30px;
   border-bottom: 2px solid;
}

h2{
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid;
    padding: 0px;
   
    
}

div.text{
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 3px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
 
main{
    
    display:flex;
    
    
}

div.menugauche{
    margin-left: 40px;
    font-size: 13px;
    
}

ul{
    text-decoration: underline;
}

div.menudroit{
    margin-right: 45px;
    font-size: 13px;
}

footer.footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    
}
