body{
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    text-align: center;
}

label{
    display: block;
    margin-top: 5px;
}

input{
    margin-left: 110px;
    margin-top: 0px;
}


fieldset.message{
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;

}

p{
    text-align: center;
}

div.boutons{
    text-align: center;
    
}

button{
    background-color: black;
    color: white;
}